<div class="about__wrap">
    <div class="about">
        <h2>О нас</h2>
        <p>
            Мы, команда originalas-davanas.lv, используя оригинальный подход и тщательную работу, стараемся сделать каждый подарок личным и неповторимым, чтобы каждый получатель подарка был бы в восторге.
        </p>
        <p>
            В нашем ассортименте – индивидуально изготовленные настольные игры, картины с фотомонтажом, сундуки сокровищ с уникально оформленными напитками, карикатуры и фото репродукции, футболки с эксклюзивным дизайном, веселые поздравления с Днем рождения и многое другое… Мы не Dāvanuserviss, и не Mojojojo – у нас ручная работа, выполненная на месте, и индивидуальный подход к желаниям каждого клиента – будь то подарок девушке или мужчине. Можем изготовить подарки, которых нет в ассортименте, ждем полета Вашей фантазии, мы возьмёмся за реализацию. Нужны сувениры из Латвии – и их мы можем изготовить для зарубежных гостей. Свяжитесь с нами и мы поможем с оригинальными подарками. Мы поможем Вам в создании любых поздравлений -  на 8 Марта, в Женский день или любой государственный / интернациональный праздник.
        </p>
        <p>
            С уважением,
        </p>
        <p>
            Ваш коллектив Originalnie-Podarki.lv
        </p>
    </div>
</div>

<div class="partners">
    <a href="http://www.android.lv/lv/" target="_blank"><img src="/img/partneri/android.jpg" alt="android"/></a>
    <a href="http://avector.lv/" target="_blank"><img src="/img/partneri/avector.jpg" alt="avector"/></a>
    <a href="#" target="_blank"><img src="/img/partneri/andy_bassland.jpg" alt="andy_bassland"/></a>
    <a href="http://chill-mill.com/post/list/hall_of_fame" target="_blank"><img src="/img/partneri/chillmill.jpg" alt="chillmill"/></a>
    <a href="http://www.krio.lv/" target="_blank"><img src="/img/partneri/krio.jpg" alt="krio beauty"/></a>
    <a href="http://mdesign.lv/lv/jaunumi/" target="_blank"><img src="/img/partneri/mdesign.jpg" alt="mdesign"/></a>
    <a href="#" target="_blank"><img src="/img/partneri/shark.jpg" alt="shark"/></a>
</div>

<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/js/tinyScripts.js"></script>
