<div class="about__wrap">
    <div class="about">
        <h2>Par mums</h2>
        <p>
            описание
        </p>
        <p>
            описание
        </p>
        <p>
            Ar cieņu,
        </p>
        <p>
            Jūsu Oriģinālas-Dāvanas.lv kolektīvs
        </p>
    </div>
</div>

<div class="partners">
    <a href="http://www.android.lv/lv/" target="_blank"><img src="/img/partneri/android.jpg" alt="android"/></a>
    <a href="http://avector.lv/" target="_blank"><img src="/img/partneri/avector.jpg" alt="avector"/></a>
    <a href="#" target="_blank"><img src="/img/partneri/andy_bassland.jpg" alt="andy_bassland"/></a>
    <a href="http://chill-mill.com/post/list/hall_of_fame" target="_blank"><img src="/img/partneri/chillmill.jpg" alt="chillmill"/></a>
    <a href="http://www.krio.lv/" target="_blank"><img src="/img/partneri/krio.jpg" alt="krio beauty"/></a>
    <a href="http://mdesign.lv/lv/jaunumi/" target="_blank"><img src="/img/partneri/mdesign.jpg" alt="mdesign"/></a>
    <a href="#" target="_blank"><img src="/img/partneri/shark.jpg" alt="shark"/></a>
</div>

<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/js/tinyScripts.js"></script>
