<div class="about__wrap">
    <div class="about">
        <h2>Par mums</h2>
        <p>
            Mēs, Oriģinālas-Davanas.lv komanda, izmantojot oriģinālu pieeju un rūpīgu roku darbu, īpaši piedomājam, lai katra izgatavotā dāvana būtu personīga un neatkārtojama un, lai katrs dāvanas saņēmējs būs sajūsmā.
        </p>
        <p>
            Mūsu klāstā ir induviduāli veidotas galda spēles, gleznas ar foto montāžu, dārgumu lādes ar unikāli apdarītām dzirām, karikatūras un foto reprodukcijas, unikāla dizaina t-krekli, jautri apsveikumi dzimšanas dienā un daudz kas cits... Mēs neesam ne Dāvanuserviss, ne Mojojojo - pie mums ir tepat veikts roku darbs un induviduāla pieeja katra klienta vēlmēm - vienalga vai tā dāvana meitenei vai davana vīrietim. Varam izgatavot dāvanas, kas nav mūsu klāstā, tik dodiet savu fantāzijas lidojumu un mēs ķersimies klāt! Kaut vai vajadzīgi suvenīri no Latvijas - arī tos varm izgatavot kādiem ārvalstu viesiem. Sazinies ar mums - mazināsim galvassāpes oriģinālu risinājumu un dāvanu izvēlē!
Arī apsveikumu veidošanā varam palīdzēt! Apsveikumi 8 martā vai apsveikumi sieviešu dienā - kaut vai valsts vai internacionālos svētkos.
        </p>
        <p>
            Ar cieņu,
        </p>
        <p>
            Jūsu Oriģinālas-Dāvanas.lv kolektīvs
        </p>
    </div>
</div>

<div class="partners">
    <a href="http://www.android.lv/lv/" target="_blank"><img src="/img/partneri/android.jpg" alt="android"/></a>
    <a href="http://avector.lv/" target="_blank"><img src="/img/partneri/avector.jpg" alt="avector"/></a>
    <a href="#" target="_blank"><img src="/img/partneri/andy_bassland.jpg" alt="andy_bassland"/></a>
    <a href="http://chill-mill.com/post/list/hall_of_fame" target="_blank"><img src="/img/partneri/chillmill.jpg" alt="chillmill"/></a>
    <a href="http://www.krio.lv/" target="_blank"><img src="/img/partneri/krio.jpg" alt="krio beauty"/></a>
    <a href="http://mdesign.lv/lv/jaunumi/" target="_blank"><img src="/img/partneri/mdesign.jpg" alt="mdesign"/></a>
    <a href="#" target="_blank"><img src="/img/partneri/shark.jpg" alt="shark"/></a>
</div>

<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/js/tinyScripts.js"></script>
