<footer class="site-footer">

  <div class="footer--wrapper">

    <div class="footer--left">
      <!--Twitter-->
    <span>
      <a href="https://twitter.com/OriginalaDavana" class="twitter-follow-button" data-show-count="false">Follow @OriginalaDavana</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </span>

      <!--Facebook-->
    <span>
      <div class="fb-like" data-href="https://www.facebook.com/OriginalasDavanas?fref=ts" data-width="300" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </span>

      <span><p>© {{ site.title }} | 2015</p></span>

    </div>

    <div class="footer--right">
      <div>
        <span>Firma: <h4>SIA "MDesign"</h4></span>
        <span>Reģ. Nr.: <h4>40003411851</h4></span>
        <span>Adrese: <h4>Rankas iela 13 Ziemeļu rajons, Rīga, LV-1005</h4></span>
        <span>E-pasts: <h4>{{ site.email}}</h4></span>
      </div>
    </div>

  </div>

</footer>
