.about__wrap {
  background: url("../img/aboutbg.jpg") fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;
  padding: 0;

  .about {
    background: rgba(white, .9);
    padding: 50px 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 400px);
    margin: 0 auto;

    h2 {
      color: $brand-color;
      font-style: italic;
      text-transform: uppercase;
      font-size: 2em;
      text-align: center;
    }

    p {
      color: $brand-color--2;
      text-align: justify;
    }
  }
}

.partners {
  background: white;
  width: 90%;
  margin: 0 auto;
  padding: 90px 0 50px;
  height: auto;
  //min-height: 100vh;
  position: relative;
  @extend %clearfix;
  text-align: center;

  a {
    width: auto;
    max-width: 200px;
    height: auto;
    display: inline-block;
    margin: 10px 10px 40px;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .about__wrap {
    background: url("../img/aboutbg.jpg") scroll;
    background-size: cover;
    width: 100%;
    height: auto;
    position: static;
    min-height: 0;
    padding: 0;

    .about {
      padding: 70px 30px 30px;
      margin: auto;
      width: auto;
      height: auto;
      position: relative;

      h2 {
        color: $brand-color;
        font-style: italic;
        text-transform: uppercase;
      }

      p {
        color: $brand-color--2;
        font-size: .9em;
      }
    }
  }

  .partners {
    //background: green;
    width: auto;
    margin: 0 auto;
    padding: 90px 0;
    height: auto;
    //min-height: 100vh;
    position: relative;

    a {
      width: auto;
      height: auto;
      display: block;
      margin: 10px auto;

      img {
        width: 100%;
      }
    }
  }
}
