.contact__wrap {
  background: url("../img/blurbgstill.jpg") fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;

  .contact {
    //background: lightseagreen;
    padding: 25px;
    position: absolute;
    z-index: 150;
    @include absolute__center(0, 0, 0, 0);
    width: auto;
    height: 540px;

    h2 {
      text-transform: uppercase;
      text-align: center;
      font-style: italic;
      font-weight: 400;
      font-size: 2em;
      margin: 0 0 20px;
      color: $brand-color;
    }

    p {
      width: 60%;
      text-align: center;
      margin: 0 auto;
      border-top: 1px solid $grey-color;
      padding-top: 20px;
      font-size: .8em;
    }

    form {
      //background: lightcoral;
      text-align: left;
      width: 60%;
      height: auto;
      margin: 40px auto 0;

      input {
        height: 40px;
      }

      textarea {
        height: 120px;
      }

      input,
      textarea,
      select {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 16px 0 0;
        font-size: 1em;
        color: $grey-color;
        background: rgba($background-color, .5);
        border: none;
        transition: .4s;

        &:focus::-webkit-input-placeholder {
          color: transparent;
        }

        &:focus::-moz-placeholder {
          color: transparent;
        }

        &:focus {
          background: $background-color;
        }
      }

      [data-select="select"] {
        width: calc(40% - 8px);
        margin-top: 4px;
        height: 52px;
        padding: 10px 10px 10px 6px;

        &:hover {
          cursor: pointer;
          background: $background-color;
        }
      }

      [data-submit="submit"] {
        width: 20%;
        height: 52px;
        margin: 10px 0 0;
        background: rgba($brand-color--3, .5);
        float: right;
        color: $background-color;

        &:hover {
          background: $brand-color--3;
        }
      }

      .uploadcare-widget {
        //background: red;
        width: 40%;
        margin-top: 10px;

        .uploadcare-widget-text {
          padding: 10px 0 0 20px;
          //background: blue;
          margin-right: 20px;
        }

        .uploadcare-widget-button {
          background: #c3c3c3;
          width: 30%;
          height: 100%;
          color: $background-color;
          line-height: 2;
          margin: 0;
          border-radius: 0;
          cursor: pointer;
          white-space: nowrap;
          padding: 10px;
          transition: .4s;
          text-align: center;
        }

        .uploadcare-widget-button:hover {
          background: #b3b3b3;
        }
        .uploadcare-widget-button-open {
          width: calc(100% - 20px);
          background: rgba($brand-color--2, .5);
          color: $background-color;
        }
        .uploadcare-widget-button-open:hover {
          background: $brand-color--2;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px){
  .contact__wrap {
    background: url("../img/blurbgstill.jpg") scroll;
    background-size: cover;
    width: 100%;
    min-height: 800px;
    height: auto;
    position: relative;

    .overlay {

      a {
        display: none;
      }
    }

    .contact {
      //background: lightseagreen;
      padding: 25px;
      position: absolute;
      z-index: 150;
      @include absolute__center(0, 0, 0, 0);
      width: auto;
      height: auto;

      h2 {
        text-transform: uppercase;
        text-align: center;
        font-style: italic;
        font-weight: 400;
        font-size: 1.25em;
        margin: 50px 0 20px;
        color: $brand-color;
      }

      p {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        border-top: 1px solid $grey-color;
        padding-top: 20px;
        font-size: .8em;
      }

      form {
        //background: lightcoral;
        text-align: left;
        width: 90%;
        height: auto;
        margin: 40px auto 0;

        [data-select="select"] {
          width: calc(70% - 8px);
        }

        [data-submit="submit"] {
          width: 30%;
          margin: 4px 0 0;
        }

        .uploadcare-widget {
          display: none;
        }
      }
    }
  }
}