.home {
  background: #e7e8e5;

  .first--fold {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("../img/ffbg.jpg");
    background-size: cover;

    .ffcenter {
      position: absolute;
      @include absolute__center(0, 0, 0, 0);
      width: 100%;
      height: 340px;

      h1 {
        text-align: center;
        font-size: 5em;
        color: $brand-color;
        font-family: 'Allura', cursive;
      }

      img {
        width: 30%;
        margin: 0 auto;
        //background: red;
        display: block;
      }

      .xp {
        width: auto;
        max-width: 10%;
      }
    }

    .overlay {
      background: rgba(white, .7);
    }
  }
}

@media screen and (max-width: 1000px) {
  .home {

    .first--fold {

      .ffcenter {
        //background: green;
        @include absolute__center(0, 0, 0, 0);
        height: 40vh;

        h1 {
          font-size: 10vw;
        }

        img {
          width: 80%;
        }

        .xp {
          max-width: 120px;
        }
      }

      .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background: rgba(white, .8);
      }
    }
  }
}
